.entireContainer {
  background-color: #fbf5e0;
  padding-top: 8rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main-story-container {
  padding-top: 5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fbf5e0;

}

.imageContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 450px;
}

.mainStoryTitle {
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.mainStoryImageContainer {
  display: flex;
  flex-direction: column;
  background-color: #f8eec9;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  margin: 30px 0 40px 0;
  height: auto;
  border: 1px solid black;
}

.mainStoryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 250px;
  transition: transform 0.75s;
}

.mainStoryImage:hover {
  transform: scale(1.4);
}

.mainStoryContinent {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2rem;
}

.mainStoryDescription {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.mainStoryMain {
  border-top: 2px solid black;
  padding-top: 2rem;
  white-space: pre-wrap;
  padding-bottom: 2rem;
}

.main-story-content {
  max-width: 60%;
}

/* Media Queries */

@media (max-width: 768px) {
  .mainStoryContainer {
    padding-top: 3rem;
  }
  
  .main-story-content {
    max-width: 89%;
  }
  
  .mainStoryImageContainer {
    padding: 20px;
  }
  
  .mainStoryImage {
    max-height: 200px;
  }
}






