.app {
  background-color: #fbf5e0;
  overflow-x: hidden;
}

.card {
  background-color: #d9d9d9;
}

.upload-story-btn {
  background-color: #f9d8c4;
  color: black;
  border-radius: 28px;
  display: block;
  font-weight: bold;
  padding: 12px;
  margin: 15px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.upload-story-btn:hover {
  background-color: #fffbfe;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  transition: 0.3s;
}

.first-row {
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
  border: 2px solid black;
  background-color: #C8D6B9;
}

.filler {
  height: 8rem;
}

.second-row {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 5rem;
}

.filler-two {
  height: 2rem;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}
