.app {
  background-color: #fbf5e0;
  overflow-x: hidden;
}

#form-container {
  padding: 60px 40px 60px 90px;
}

.upload-form form {
  padding-left: 78px;
}

@media (max-width: 991px) {
  #form-container {
    padding-left: 40px; /* Adjusted padding on the left */
  }

  .upload-form form {
    padding-left: 30px; /* Remove left padding */
  }

  .upload-form{
    margin-top: -80px;
  }

}

.homepage-input-headings {
 font-size: 20px;
  margin: 0 0 30px 0;
}

.card {
  background-color: #d9d9d9;
}

.upload-story-btn {
  background-color: #f9d8c4;
  color: black;

  display: block;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 30px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100px;
  transition: 0.75s;
}

.upload-story-btn:hover {
  background-color: black;
  color: #f9d8c4;
  border-radius: 28px;
  /* transform: rotate(360deg); */
  font-weight: bold;
  border: 2px solid black;
}

.first-row {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #c8d6b9;
}

.filler {
  height: 8rem;
}

.second-row {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 5rem;
}

.filler-two {
  height: 2rem;
}

.trending-title {
  text-align: center;
  margin: 40px;
  padding: 0;
}

.dark-btn {
  background-color: #f9d8c4;
  color: black;
  border-radius: 28px;
  display: block;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 81px;
}

.dark-btn:hover {
  background-color: black;
  color: #f9d8c4;
  font-weight: bold;
  border: 2px solid black;
}

/* DARK MODE STYLES */
.dark-btn.dark-mode {
  background-color: black;
  color: #f9d8c4;
}

.app.dark-mode .dark-btn {
  right: 10px;
  top: 81px;
  background-color: black;
  color: #f9d8c4;
}
.app.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
}

.card.dark-mode {
  background-color: #404040;
  color: #ffffff;
}

.upload-story-btn.dark-mode {
  background-color: #494949;
  color: #ffffff;
}

.first-row.dark-mode {
  background-color: #2b2b2b;
}

.second-row.dark-mode {
  background-color: #1f1f1f;
}

.app.dark-mode .trending-title {
  color: #ffffff;
}
