.team-anchor{
    text-decoration: none;
    color: black;
}
.team-anchor:hover{
    /* text-decoration: underline; */
color:  #565555;
}

.about-linkedin{
    padding-bottom: 10px;
}

.story-heading {
    padding-bottom: 40px;
    margin: 0 auto;
}

.sys32-heading{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}


.about-us-page{
    background-color: #fbf5e0;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.about-us {
    padding: 5rem 0;
    background-color: #fbf5e0;
    width: 100%; /* Remove fixed width */
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: center; /* Add this line */
}

.about-us-mission {
    width: 60%;
    margin: 0 auto;
}

.our-team {
    width: 60%;
    margin: 0 auto;
}

.about-sub {
    padding: 30px 0;
    text-align: start;
}

.about-img {
    width: 100%; /* Modify this line */
    max-width: 100%; /* Add this line */
    text-align: center; /* Add this line */
    margin-top: 2rem; /* Add this line for spacing */

}

.about-img img {
    width: 100%; /* Add this line */
    max-width: 100%; /* Add this line */
    height: auto; /* Add this line for aspect ratio */
  }



/* Media Queries */

@media (max-width: 768px) {
    .mainStoryContainer {
      padding-top: 3rem;
    }
    
    .main-story-content {
      max-width: 89%;
    }
    
    .mainStoryImageContainer {
      padding: 20px;
    }
    
    .mainStoryImage {
      max-height: 200px;
    }
  }
  