.team-anchor{
    text-decoration: none;
}
.team-anchor:hover{
    /* text-decoration: underline; */
    color: #FBF5E0;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}
.about-us-page{
    background-color: #FBF5E0;
    padding: 55px;
    display: flex;
}
.wedabest {
    padding-top: 100px;
}
.wedabest img {
    width: 20%;
    height: 20%;
}