.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f8eec9;
  border-radius: 10px;
  padding: 20px 20px;
  cursor: pointer;
  margin-top: 30px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.3s;
  min-width: 0;

}

.card-container:hover {
  transform: scale(1.03);
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}

.first-half {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;

  margin-top: 5px;

  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}



.story-card-image {

  height: 200px;
  object-fit: cover;
  background-color: aliceblue;
  border-radius: 10px;
  max-height: 250px;
}

.story-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}



.story-card-description {
  border-top: 1px solid black;
  padding-top: 10px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.storyDate {
  padding: 5px 0 10px 0;
}

.storyLocation {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}