
.story-collection-wrapper {
    background-color: #fbf5e0;
padding-top: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .story-collection-content {
    overflow-x: hidden;
    padding: 6rem 3rem;
    
  }
  
  .date-range-picker-wrapper{
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-top: 4rem;
    gap: 2rem;
  }
 
.filter-btn{
  background-color: #f9d8c4;
  color: black;
  display: block;
  font-weight: bold;
  border: 2px solid black;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  width: 100px;
}
 
.filter-btn:hover{
  background-color: black;
  color: #f9d8c4;
  border: 2px solid black;
}