
.story-collection-wrapper {
    background-color: #fbf5e0;
padding-top: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .story-collection-content {
    overflow-x: hidden;
    padding: 6rem 3rem;
    
  }
  
  .date-range-picker-wrapper{
    display: flex;
    justify-content: center;
    align-items: bottom;
    margin-top: 4rem;
    gap: 2rem;
  }
 
.filter-btn{
  background-color: #f9d8c4;
  color: black;
  display: block;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 30px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.75s;
  border: 2px solid black;
}
 
.filter-btn:hover{
  background-color: black;
  color: #fbf5e0;
  border-radius: 48px;
  /* transform: rotate(360deg); */
  font-weight: bold;
  border: 2px solid black;
}