form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
input{
    /* height: 30px; */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}

button{
    background-color: #04724D;
    color: #FFFBFE;
    border-radius: 28px;
    display: block;
    font-weight: bold;
    padding: 12px;
    margin: 15px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button:hover{
    background-color: #FFFBFE;
    color: #04724D;
    font-weight: bold;
    border: 2px solid #04724D;
    transition: 0.3s;
}
