.search-section {
  display: flex;
  align-items: flex-start;

  position: relative;
}

.footer-search-section {
  padding: 0; /* Remove the padding */
}

form {
  align-items: center;
}

.search-section .input-container {
  display: grid;
  grid-template-columns: 1fr auto; /* Set the input field and button to occupy columns of equal width */

  gap: 10px;
}
.search-input {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 250px;
  width: 100%;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;

  font-weight: bold;
  transition: 0.75s;
  border: 2px solid black;
}

.search-button:hover {
  background-color: black;
  color: #c8d6b9;
  border-radius: 48px;
  font-weight: bold;
  border: 2px solid black;
}
}

.description {
  padding: 0;
  margin-left: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
}
/* 
.search-results {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 999;
}

.search-results li {
  padding: 8px 16px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f2f2f2;
}
 */
