.user-upload-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding-top: 10%;
  background-color: #fbf5e0;
}

h2 {
  margin: 30px 20px;
  font-size: 2.5em;
}

.user-upload-container {
  margin: 3% 2% 8% 2%;
  background: #c8d6b9;
  width: 50%;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

@media screen and (max-width: 1200px) {
  .user-upload-container {
    width: 80%;
  }
  .user-upload-outer {
    padding-top: 80px;
  }

}

@media screen and (max-width: 768px) {
  .user-upload-container {
    width: 95%;
  }
  .user-upload-outer {
    padding-top: 20%;
  }

}

#draft-btn,
#preview-btn {
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
}

#draft-btn:hover,
#preview-btn:hover {
  background-color: #f9d8c4;
}

.upload-btn {
  padding: 0.5rem 1rem;
  background-color: #f9d8c4;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
}

.upload-btn:hover {
  background-color: #fffbfe;
  color: black;
  font-weight: bold;
  border: 2px solid black;

}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.btn-container button {
  margin: 0 10px; /* Adjust the margin between buttons as needed */
}

input, textarea {
  background-color: white;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

Row.description-row{
  width: 100%;
}

.title-row, .description-row, .location-row, .date-row, .story-text-row, .video-row, .image-row, .audio-row, .btn-row, .user-upload-container .continent-row  {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.image-row{
  max-width: max-content;
}
.btn-row {
  border-bottom: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: auto;
}

.input-container label {
  margin-bottom: 10px;
  gap: 10px;
}

.user-upload-container .continent-row label#continent-row-label   {
  margin-bottom: 10px !important;
}

.label-continent {
  width: 200px; /* Adjust the width as needed */
}


/* 
.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.choose-file-button:hover {
  background-color: rgba(236, 236, 236, 0.769);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  widows: 100%;
  cursor: pointer;
  opacity: 0;
}


.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
 width: 450px; 
  max-width: 100%;
  padding: 25px;
  border: 1px dotted black;
  border-radius: 5%;
  transition: 0.2s;
} */
