.description {
    /* resize: none;
    border-radius: 8%;
    padding: 5px;
    margin: 5px; */
    background-color: white;
    padding: 0.5rem;
    border: 2px solid black ;
    border-radius: 4px;
    font-size: 1rem;
    width: 50%;
}

#count_message {
  background-color: smoke;
  margin-top: -20px;
  margin-right: 5px;
}

