.navbar {
  background-color: #FBF5E0;
  background-color: #FBF5E0;
  font-weight: bold;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}
.navbar-nav .nav-link {
  font-size: 18px;
  margin-left: 15px;
  color: black;
  transition: 0.75s;
}


.navbar-nav .nav-link:hover {
  background-color: black;
  color: #FBF5E0;
  border-radius: 48px;
} 
/*nav bar already has transition effect on it? from bootstrap? */

.navbar-brand-name {
  display: inline-block
}

@media (max-width: 767px) {
  /* Hide the brand name and show only the logo in mobile view */
  .navbar-brand-name {
    display: none;
  }
}
