.home-card-container {
  display: flex;
  flex-direction: column;
  background-color: #f8eec9;
  border-radius: 10px;
  padding: 20px 20px;
  cursor: pointer;
  margin-top: 30px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.3s;
  min-width: 0;

  
}

.home-card-container:hover {
  transform: scale(1.03);
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}

.first-half {
  display: flex;
  flex-direction: column;
}



.home-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;

  margin-top: 5px;

  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

}



.story-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: aliceblue;
  border-radius: 10px;
  max-height: 250px;
}

.home-story-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}



.home-story-card-description {
  border-top: 1px solid black;
  padding-top: 10px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-story-date {
  padding: 5px 0 10px 0;
}




/* .piccontainer {
  display: flex;
  flex-direction: column;
  background-color: #F8EEC9;
  border-radius: 10px;
  padding: 40px;
  cursor: pointer;
  margin-top: 30px;
  height: 550px;
  border: 1px solid black;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  margin-top: 0px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: aliceblue;
  border-color: rgb(215, 0, 0);
  max-height: 250px;

}

.ustorycontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow-y:scroll;
  max-width: 450px;
}
.storyContinent {
  color: rgb(116, 106, 106);
  font-weight: bold;
  font-size: 15px;
}

.text {
  color: black;
  text-align: left;
  margin-top: 10px;
  border-top: 2px solid black;
  overflow: ellipsis;
}

.storyDescription {
  border-top: 1px solid black;
  padding-top: 10px;
}

.storyDate {
  padding-top: 5px;
}


.click-here-btn{
  background-color: #f9d8c4;
  color: black; 
  border-radius: 28px;
  display: block;
  font-weight: bold;
  padding: 12px;
  margin: 15px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.75s;
}

.click-here-btn:hover{
  background-color: black;
  color: #f9d8c4;
} */
