.piccontainer{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 40px;
    margin: 40px, 40px, 40px, 40px;
    cursor: pointer;
    justify-content: center;
}
  
  .image {
    width: 450px;
   height: 300px; 
    object-fit: cover; 
  }
  
  .text {
    color: black;
    text-align: center;
    margin-top: 10px; 
    border-top: 2px solid black;
  }